/* NORMALIZACION */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y el alto*/
    font-family: "Inconsolata", monospace;
    list-style: none; /*Quita toda la decoracion de las listas*/
    text-decoration: none; /*Esto quita el subrayado en los enlaces*/
    color: white;
    text-transform: capitalize;
}

body{
    background-color: black; /*to do*/
}

header{
    position: fixed; /*HACE QUE EL HEADER SE QUEDE FIJO EN LA PARTE SUPERIOR*/
    right: 0;
    top: 0;
    z-index: 100; /* ESTO HACE QUE EL HEADER SE MUESTRE POR ENCIMA DE TODO*/
    width: 100%;
    display: flex; /*ESTO HARA QUE LOS ELEMENTOS SE PONGAN EN LINEA*/
    align-items: center; /*CENTRA VERTICALMENTE*/
    justify-content: space-between; /*QUE LOS ELEMENTOS SE SEPAREN */
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800;/*Grueso de ell logo*/
}

.navlist{
    display: flex; /*Elementos de la lista se pongan en linea*/
}

.navlist a{
    margin-left: 60px; /*Separa las palabras de la lista*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /*Subrayado transparente*/
    transition: all 0.5s ease; /*Animar todas las caracteristicas del .navlist a*/
}

.navlist a:hover{
    border-bottom: 2px solid white; /*Crea una viñeta tipo hover abajo en la lista*/
}

#menu-icon{
    display: none; /*se pone en none para que solo se vea cuando la pagina este colapsada*/
}

#menu-icon{
    font-size: 35px;
    z-index: 101; /*para que este sobre el header*/
    cursor: pointer ; /*Para que aparezca la manito cuando ponemos el cursor encima*/
}

#menu-toggle{
    display: none ; /*No quiero que se vea el checkbox*/
}

.menu-icon-action{ /*Para que no se le pueda hacer click*/
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh; /*ocupa todo el alto disponible*/
    background: linear-gradient(245.59deg,#3a4761 0%, #1f2d45 25%, #041329 75%); /*fondo degradado*/
    position: relative; /*relativo al contenedor, nos permite usar top botton left y right*/
    display: grid; /*Para que el grid se pueda dividir en dos columnas*/
    grid-template-columns: 1fr 1fr; /*genera dos columnas para el contenido*/
    align-items: center; /*alinea verticalmente*/
    gap: 2rem; /*haya espacio de 2 rem entre las dos culumnas*/
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400px;
    margin-bottom: 25px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.hero-text h1{
    font-family: 'Roboto mono', monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear;
}

.hero-img img:hover{
    width: 450px;
    opacity: 0.6 ;
}

.hero-text a{
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease ;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute; /*Para que dehe ubicarlos donde queremos*/
    top: 50vh; /*Posicion, busca la mitad de toda la pantalla y los ubica ahi*/
    padding: 0 3%; /*Espacio entre icons*/
    transform: translateY(-50%); /*Los ubica entre el eje y*/
}

.icons i{
    display: block; /*Ubica uno encima del otro*/
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero-text{
        padding: top 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10%, 0, 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .scroll-down{
        display: none;
    }
    
    .icons{
        display: none;
    }
}

@media (max-width: 768px){
    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img{
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100px;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #021719ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease;
    }

    .navlist a{
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}